.container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding: 10px;
    width: 1080px;

}
.nike{
    height: 50px;
}

.btn{
    background-color: rgb(243, 92, 92);
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: 500;
}

